<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tournament</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div id="mayorHead">
    <form action="#" th:action="@{/passwords/reset}" th:object="${dto}" th:method="put">
        <input type="text" id="token" name="token" th:value="${token}" th:hidden="true"/>
        <p>Password <input type="password" th:field="*{password}"/></p>
        <p>Repeat Password: <input type="password" th:field="*{repeatPassword}"/></p>
        <p><input type="submit" value="Reset Password"/></p>
    </form>
</div>
</body>
</html>